@import '../../../variables.css';

.hueify {
  padding: calc(var(--spacing) * 2) 0px;
}

.hueify h1 {
  margin-bottom: 0px;
}

.hueify h2 {
  margin: calc(var(--spacing) / 4) 0px;
}

.hueify img {
  width: 120px;
  display: block;
  margin: 0px auto calc(var(--spacing) * 2);
}

.hueify video {
  width: 100%;
  border-radius: var(--spacing);
  box-shadow: var(--shadow);
}

.hueify .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hueify .links {
  list-style: none;
  padding: 0px;
}

.hueify .links li {
  font-size: 1.4em;
  margin-top: calc(var(--spacing) / 4);
}

.hueify section {
  max-width: 1000px;
}

@media(min-width: 800px) {
  .hueify .content {
    flex-wrap: nowrap;
  }

  .hueify video {
    max-width: 42%;
    margin-right: calc(var(--spacing) * 2);
  }
}
