@import '@quartercastle/style/base.css';

:root {
  --height: 60px;
}

menu {
  display: block;
  position: fixed;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: var(--height);
  background: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  backdrop-filter: saturate(180%) blur(20px);
  font-size: 1.2em;
  bottom: 0px;
  z-index: 99;
}

menu ul {
  max-width: 860px;
  margin: 0px auto;
  padding: 0px;
  line-height: var(--height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

menu ul li {
  width: 200px;
  display: inline-block;
  text-align: center;
}

menu ul li a {
  opacity: .6;
  color: var(--black);
}

menu ul li a span {
  vertical-align: top;
}

menu ul li a:focus {
  padding: 4px 8px;
  opacity: 1;
  color: var(--darker-blue) !important;
  background: var(--lighter-white);
}

.dark menu ul li a:focus {
  background: var(--dark);
}

menu ul li:before { content: ''; }

menu ul li.active a {
  opacity: 1;
}

menu ul li i {
  vertical-align: middle;
}

menu ul li span {
  display: none;
  vertical-align: middle;
}

body.dark menu {
  background: rgba(34, 37, 42, .6);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
}

body.dark menu ul li a {
  color: var(--darker-white);
}

body.dark menu ul li a:hover {
  color: var(--darker-white);
}

@supports not (backdrop-filter: saturate(180%) blur(20px)) {
  menu { background: var(--lighter-white); }
  body.dark menu {
    background: var(--black);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
  }
}

@media(min-width: 580px) {
  menu ul li span {
    padding-left: calc(var(--spacing) / 8);
    display: inline-block;
  }
}

@media(min-width: 1080px) {
  menu {
    --height: 80px;
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
    position: absolute;
    top: 0px;
  }

  menu ul {
    justify-content: space-between;
  }

  body.dark menu {
    box-shadow: none;
    background: transparent;
  }
}
