@import '../../variables.css';

menu {
  --height: 50px;
  color: var(--dark);
  position: fixed;
  height: var(--height);
  line-height: var(--height);
  width: 100%;
  left: 0px;
  bottom: 0px;
  box-shadow: 0px -1px 0px var(--grey);
  margin: 0px;
  padding: 0px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  font-size: 1.4em;
  z-index: 2;
  transition: color .3s;
}

menu ul {
  padding: 0px var(--spacing);
  margin: 0px;
  display: flex;
  justify-content: space-between;
}

menu ul li {
  width: 20%;
  text-align: center;
  display: inline-block;
}

menu ul li a {
  color: inherit;
  opacity: .5;
  font-weight: 400;
}

menu ul li a .title {
  display: none;
  padding-left: calc(var(--spacing) / 4);
  font-size: 0.8em;
  transform: translateY(-2px);
}

menu ul li a.active {
  opacity: 1;
}

@media(max-width: 1200px) {
  menu {
    color: var(--dark) !important;
  }
}

@media(min-width: 500px) {
  menu ul li a .title {
    display: inline-block;
  }
}

@media(min-width: 1200px) {
  menu {
    --height: 70px;
    height: var(--height);
    line-height: var(--height);
    position: absolute;
    top: 0px;
    font-size: 1.6em;
    background: none;
    backdrop-filter: none;
  }

  menu ul {
    max-width: 880px;
    margin: 0px auto;
  }

  menu ul li {
    width: auto;
  }
}
