@import '@quartercastle/style/base.css';

body {
  font-display: auto;
}

.wrap {
  max-width: 760px;
  margin: 0px auto;
}

h1:first-child {
  margin-top: 0px;
  padding-top: calc(var(--spacing) / 2);
}

article header p {
  margin-top: calc(var(--spacing)/10);
  opacity: .8;
}

.katex-display {
  display: inline-block !important;
  margin: 0px !important;
}

@media(min-width: 1080px) {
  h1:first-child {
    padding-top: calc(var(--spacing)*2);
  }
}
