@import '@quartercastle/style/base.css';

.posts article header {
  padding-bottom: calc(var(--spacing) * 1.2);
}

.posts article header h2 {
  font-size: 1.8em;
}

.posts section article header p {
  margin: 0px;
  font-size: 1.2em;
  opacity: .8;
  color: inherit;
}

.posts section {
  padding: 0px;
  padding-bottom: calc(var(--spacing) * 4);
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.posts section a {
  display: block;
  min-width: 240px;
  width: 100%;
  border-radius: var(--spacing);
  margin: calc(var(--spacing)/1.6) calc(var(--spacing)/2);
  padding: 4px;
}

.posts section a:focus {
  padding: 4px;
  margin: calc(var(--spacing)/1.6) calc(var(--spacing)/2);
}

.posts section a article {
  border-radius: var(--spacing);
  box-shadow: var(--shadow);
  color: var(--dark);
  display: flex;
  align-items:flex-end;
}

.posts section a article header {
  padding: var(--spacing);
}

.posts section a article header small {
  font-size: .8em;
}

.posts section a article header small time {
  color: rgba(0, 0, 0, 0.4);
  color: var(--yellow);
  vertical-align: middle;
}

.posts section a article header small code {
  padding: 2px 8px;
  color: var(--yellow);
  background: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

@media(min-width:950px) {
  .posts section a {
    width: 46.2%;
  }

  .posts section article {
    height: 440px;
  }

  .posts article header p {
    margin: 0px;
    font-size: 1.4em;
  }
}

@media(min-width: 1080px) {
  .posts section {
    padding-bottom: calc(var(--spacing));
  }

  .posts article header {
    padding-bottom: calc(var(--spacing) * 3.6);
  }
}
